<section class="grey-text w-responsive mx-auto p-5">    
    <h2 class="h4 mb-4 text-center font-weight-bold">Sócios</h2>

    <button mat-fab class="cor-botton" 
    matTooltip="Adicionar sócio" 
    matTooltipPosition='after'
    routerLink="/planodenegocio/dadosempreendedores-add"><mat-icon>add</mat-icon></button>
        
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>CPF</th>
        <th>Nome</th>
        <th>Atribuições</th>
        <th>E-mail</th>
        <th>CEP</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Rua</th>
        <th>Telefone</th>
      </tr>
      </thead>
      
  <tbody>
    <tr *ngFor="let user of users; let i = index;">
      <td lass="hidden">1</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <div class="btn-group btn-group-sm">
          <button class="btn btn-danger " (click)="dadosemDetail.show()">Info</button>
          <button class="btn btn-info " [routerLink]="['/dadosempreendedores-edit']" style="margin-left: 20px;"> Editar</button>
        </div>
      </td>
      <app-dadosemp-detail #dadosempDetail></app-dadosemp-detail>
    </tr>
    </tbody>
  </table>
</section>
