
<h3 class="text-center">Empreendedorize</h3>
<h5 class="text-center">O que é um plano de negócio?</h5>
<br>
<br>
<h3 class="text-center">História</h3>
<p class="text-justify">Tudo começou na revolução industrial nos estados unidos, onde empreendedores tiveram a brilhante ideia de montar um planejamento documentado sobre suas ideias de negócios antes de iniciar o mesmo, como forma de organizar e analisar a viabilidade do negócio, diminuindo as margens de erros ao iniciar o empreendimento. Esse planejamento foi nomeado como Business Plan ou no português, Plano de Negócios.</p>
<br>
<br>
<h3 class="text-center">Objetivo</h3>
<p class="text-justify">O objetivo principal de um plano de negócios é transformar a ideia do empreendedor em algo mais concreto, ou seja, onde por via de estudos de viabilidade em uma visão futurista, definem se o negócio almejado terá uma boa aceitação e retorno financeiro, antes mesmo de ser iniciado, diminuindo assim os riscos de falência precoce.</p>
<br>
<br>
<h3 class="text-center">Como funciona?</h3>