<section class="grey-text w-responsive mx-auto p-5">
  <form (ngSubmit)="update()" #detailCustomerForm="ngForm">
    <h4 class="h4 mb-4 text-center"><span class="badge badge-light ">{{user.id}}</span> -> {{user.nomeusu}}</h4>

    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" required [(ngModel)]="user.cpf" name="cpf"
        #cpf="ngModel">
      <div [hidden]="cpf.valid || cpf.pristine" class="alert alert-danger">
        Por favor, digite o CPF válido de usuário
      </div>
    </div>

    <div class="form-group">
      <label for="nomeusu">Nome</label>
      <input type="text" class="form-control" id="nomeusu" required [(ngModel)]="user.nomeusu" name="nomeusu"
        #nomeusu="ngModel">
      <div [hidden]="nomeusu.valid || nomeusu.pristine" class="alert alert-danger">
        Por favor digite o nome de usuário
      </div>
    </div>

    <div class="form-group">
      <label for="sobrenomeusu">Sobrenome</label>
      <input type="text" class="form-control" id="sobrenomeusu" required [(ngModel)]="user.sobrenomeusu" name="sobrenomeusu"
        #sobrenomeusu="ngModel">
      <div [hidden]="sobrenomeusu.valid || sobrenomeusu.pristine" class="alert alert-danger">
        Favor digitar o o Ultimo nome
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email"
        #email="ngModel">
      <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
        Favor digitar o email
      </div>
    </div>

    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()">Voltar</button>
      <button type="submit" class="btn btn-dark" [disabled]="!detailCustomerForm.form.valid">Atualizar</button>
    </div>


  </form>
</section>
