<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" 
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="default-color">
      <p class="texto-branco">
        Plano de negócios
      </p>
    </mat-toolbar>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header queryParamsHandling="preserve" [routerLink]="['introplano']"  (click)="clicouIntroducao()">
          <mat-panel-title>
            Introdução ao plano
          </mat-panel-title>
        </mat-expansion-panel-header>


        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['missao/', introducao.id]" (click)="clicouIntroducaoME()">Missão da empresa e setores de atividade</a>


      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header queryParamsHandling="preserve" [routerLink]="['introestudodemercado']" (click)="clicouEstudoDeMercado()">
          <mat-panel-title>
            Estudo de mercado
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['estudocliente/', clientes.id]" (click)="clicouEstudoDosClientes()">Estudo dos clientes</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['estudoconcorrente/', concorrentes.id]"
         (click)="clicouEstudoDosConcorrentes()">Estudo dos concorrentes</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['estudofornecedores/', fornecedores.id]" (click)="clicouEstudoDosFornecedores()">Estudo dos fornecedores</a>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header queryParamsHandling="preserve" [routerLink]="['introplanodemarketing']" (click)="clicouPlanoDeMarketing()">
          <mat-panel-title>
            Plano de marketing
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['produtoseservicos/', produtos.id]" (click)="clicouPlanoDeMarketingPS()">Produtos e serviços</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['preco/', preco.id]" (click)="clicouPlanoDeMarketingP()">Preço</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['estrategiaspromocionais/', promocionais.id]" (click)="clicouPlanoDeMarketingEP()">Estratégias promocionais</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['estruturacomercializacao/', comercializacao.id]" (click)="clicouPlanoDeMarketingEC()">Estrutura de comercialização</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['localizacaonegocio/', localizacao.id]" (click)="clicouPlanoDeMarketingLN()">Localização</a>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header queryParamsHandling="preserve" [routerLink]="['introplanomonetario']" (click)="clicouPlanoMonetario()">
          <mat-panel-title>
            Plano monetário
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['investimentosfixos/', investimentosF.id]" (click)="clicouPlanoMonetarioIF()">Investimentos fixos</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['capitalDeGiro/', estimativaCustos.id]" (click)="clicouPlanoMonetarioCG()">Capital de giro</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['investimentospreop/', investimentosPO.id]"(click)="clicouPlanoMonetarioIPO()">Investimentos pré-operacionais</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['investimentototal']" (click)="clicouPlanoMonetarioIT()">Investimento total</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['faturamentomensal']" (click)="clicouPlanoMonetarioFM()">Faturamento mensal</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['custouni']" (click)="clicouPlanoMonetarioCU()">Custo unitário</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['custosfixosop']" (click)="clicouIntroducao()">Custos fixos operacionais mensais</a>
        <mat-divider></mat-divider>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['demonstrativoresultados']" (click)="clicouPlanoMonetarioDR()">Demonstrativo de resultados</a>

      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header queryParamsHandling="preserve" [routerLink]="['introanalisecritica']" (click)="clicouAnaliseCritica()">
          <mat-panel-title>
            Análise crítica
          </mat-panel-title>
        </mat-expansion-panel-header>

        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['matrizfofa/', fofa.id]" (click)="clicouAnaliseCriticaF()">Matriz F.O.F.A</a>

      </mat-expansion-panel>


      <mat-expansion-panel  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header queryParamsHandling="preserve" [routerLink]="['introconclusao']" (click)="clicouConclusao()">
          <mat-panel-title>
            Conclusão
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item queryParamsHandling="preserve" [routerLink]="['analiseplano/', analise.id]" 
        (click)="clicouAnaliseDoPlano()">Analise do plano</a>
      </mat-expansion-panel>


    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="default-color">
      <button class="texto-branco" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="texto-branco">{{recebeTitulo}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>