
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #1a8c97; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
  .btn-default{
      background-color: #1a8c97; 
      color: white;
  }
  .btn-default:hover{
      background-color: #1a8c97; 
      color: white;
  }
  
    h1{
        color: #333333;
    }