<div [@flyInOut]="'in'">
  <div class="showcase">
     <section class="grey-text w-responsive mx-auto p-5">
         <div class="panel panel-login">
           
                     <h1 class="h4 mb-4 text-center font-weight-bold">
                     Crie uma nova senha
                 </h1>
            
             <div class="panel-body">
                 <form class="form col-md-12 center-block" #changePasswordForm="ngForm">
                    
                    <div class="form-group">
                         <input type="password" class="form-control input-lg" placeholder="Nova senha" [(ngModel)]="user.password" name="password" minlength="3" 
                                required  reverse="true" #password="ngModel" >
                         <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
                             Crie uma senha no minímo com 3 caracteres!
                         </div>
                     </div>
                     
                     <div class="form-group">
                         <input type="password" class="form-control input-lg" placeholder="Confirme a nova senha" [(ngModel)]="user.matchingPassword" name="matchingPassword"
                               required validateEqual="password" reverse="false" #matchingPassword="ngModel" >
                           
                         <div [hidden]="matchingPassword.valid || (matchingPassword.pristine && !changePasswordForm.submitted)" class="alert alert-danger">
                             Senhas diferentes
                         </div>
                         
                     </div>
                     <div class="form-group">
                         <button class="btn btn-default btn-lg btn-block" (click)="salvaPassword()" [disabled]="!changePasswordForm.form.valid">Salvar</button>
                     </div>
                     <div class="form-group">
                         <span class="pull-right">
                            Registre-se aqui! <a [routerLink]="['/register-user']">Registre-se!</a>
                         </span>
                     </div>
                 </form>
             </div>
         </div>
         </section>
     </div>
 </div>
 
