<table #dataTable class="display" style="width:100%">
  <thead>
      <tr>
          <th>Nome do plano</th>
          <th>Data estimada para conclusão</th>
          <th>Finalidade do plano</th>

      </tr>
  </thead>
  <tbody>
      <tr>
          <td>Criar açougue</td>
          <td>18/05/2020</td>
          <td>Estudantil</td>
          
      </tr>
      <tr>
          <td>Empresa de software</td>
          <td>15/12/2030</td>
          <td>Empreendedorismo</td>
        
      </tr>
  </tbody>
  <tfoot>
      <tr>
          <th>Nome do plano</th>
          <th>Data estimada para conclusão</th>
          <th>Finalidade do plano</th>
       
      </tr>
  </tfoot>
</table>