<section class="grey-text w-responsive mx-auto p-5">    
    <h2 class="h4 mb-4 text-center font-weight-bold"> Lista de Planos</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Nome do plano</th>
        <th>Data conclusão</th>
        <th>Finalidade</th>
        <th>Role</th>
      </tr>
      </thead>
      <tbody>

      <!-- Lista plano do banco planos -->
      <tr *ngFor="let plano of planos; let i = index;"> 
        
        <td class="hidden">{{i+1}}</td>
        <td>{{plano.nomePlano}}</td>
        <td>{{plano.dataConclusao}}</td>
        <td>{{plano.finalidade}}</td>
        <td>{{getRole(plano)}}</td>

        <td>
          
        </td>
      </tr>
      </tbody>
    </table>
  </section>
  