<section class="grey-text w-responsive mx-auto p-5">
        <form #AnalisePNForm="ngForm" (ngSubmit)="AnalisePNForm.form.valid && onSubmit()">
      
      
          <h1 class="h4 mb-4 text-center font-weight-bold">Detalhes profissionais</h1>
      
          <div class="form-group">
            <label for="descricaoAnalise">Análise do plano
              <strong>(Considerações finais)*</strong>
            </label>
            <textarea type="text" class="form-control" rows="3" name="descricaoAnalise" id="descricaoAnalise"
              [ngClass]="{ 'is-invalid': AnalisePNForm.submitted && curriculo.invalid }"
              placeholder="Ex: Tecnólogo em análise e desenvolvimento de sistemas | Experiência em gestão de empresas | Estudante | etc..."
              [(ngModel)]="analiseDoPlano.descricaoAnalise" #descricaoAnalise="ngModel">
            </textarea>
          </div>
          
        </form>
      
      </section>