
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';

h5 {
    color:#999
}

h4 {
    color:#555
}

h3 {
    color: #555
}

.card img {
    height: 200px;
}

.secao {
    margin-top: 30px;
    margin-bottom: 30px
}

.preco {
    color: #f60;
    font-weight: bold;
    font-size: 20px
}


.ng-valid[required], .ng-valid.required  {     
    border-left: 5px solid rgba(32, 77, 32, 0.623); 
}   

.ng-invalid:not(form)  {     
    border-left: 5px solid rgb(148, 27, 27); 
} 
 
#toast-container > div {     opacity:1; }