

<h1 mat-dialog-title class="centralizar">Plano de marketing</h1>
<h2 mat-dialog-title class="centralizar">Chegamos a 3ª etapa do planejamento</h2>
<section class="grey-text w-responsive" class="centralizar">
  <mat-dialog-content class="mat-typography">
    <h3>Veja o vídeo abaixo que explica o porquê desta etapa ser iportante, e como desenvolvê-la</h3>
  </mat-dialog-content>
</section>

<div class="container">
  <vg-player>

    <vg-controls vgFor="my-video" [vgAutohide]="true" [vgAutohideTime]="5">
    </vg-controls>

    <video height="240" #myMedia [vgMedia]="myMedia" id="my-video" preload="auto" controls>
      <source src="assets/videos/marketing.mp4" type="video/mp4">
    </video>
  </vg-player>
</div>


<section class="grey-text w-responsive mx-auto p-5">
</section>